.pin{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: beige; */
    border-radius: 2em;
    max-width: 1000px;
    width: 85%;
    margin: 1em auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pin img{
    max-width: 100%;
    display: block;
    border-radius: 2em;
    min-height: 100%;
}

.pin-info{
    padding: 2em;
}

.pin-info .follow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.pin-info #follow-btn, #comment-btn {
    padding: 1em;
    color: black;
    border: 1px solid #ebebeb;
    border-radius: 2em;
    background-color: bisque;
}

.comments-input{
    border: 1px solid black;
    padding: 0.25em 0;
    margin: 0 0 0.5em;
}

.comments{
    padding: 1em;
    border: 1px solid black;
}

.comments ul li{
    list-style: none;
}
